<h1>Select your Shows</h1>
<p>Now pick the shows that you watch, when you are finished click submit.</p>

<%= form_tag(results_path, method: 'get') do %>
  <% @shows.each do |show| %>
    <div class="col-xs-12 col-md-6">
      <label>
        <%= check_box_tag('shows[]', show.id) %>
        <%= show.name %>
        <%= show.network.name %>
      </label>
    </div>
  <% end %>
  <div class="col-xs-12"><input type="submit" value="Next"></div>
<% end %>
